/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 déc. 2019, 18:02:26
    Author     : Thibault
*/

label {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
}

input {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

button {
    
}
