/* 
    Created on : 19 nov. 2019, 14:21:05
    Author     : pedago
*/

body {
    background-color: #424242;
}

#blocPage {
    align-items: center;
    margin: 30px;
}

#connectDiv {
    display: flex;
    
}

