/* 
    Created on : 19 nov. 2019, 14:21:05
    Author     : Matthieu
*/


body {
    /*background-color: #424242;*/
    color: #fff;
    font-family: 'Baskervville';
    
    

    font-family: 'Lilita One', cursive;

/*    font-family: 'Baskervville', serif;

    font-family: 'Rokkitt', serif;*/


}

#accountButton {
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

#account {
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
}

#pageTitle { margin-bottom: 50px; }
#loginButton { 
    margin-top: 10px; 
    cursor: pointer;
    border-radius: 15px;
}


#menuBar  {
        
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    background-color: #913c36;
    border-radius: 10px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 90%;

}

#menuBar a{
    display: block;
    padding: 15px;
}

#menuBar a:hover {
    color: #fff;
}