/* 
    Created on : 19 nov. 2019, 14:21:05
    Author     : pedago
*/

/*
body {
    background-color: #424242;
}
*/
#blocPage {
    width: 80%;
    margin: auto;
    text-align: center;
}

#pageTitle { margin-bottom: 50px; }
#loginButton { 
    margin-top: 10px; 
    cursor: pointer;
}

#connectDiv form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menuBar {
    background-color: #77b8bf;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
    
    margin: 30px 0 30px 0;
    
    justify-content: space-between;
}

#menuBar a {
    display: block;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

#menuBar a:first-child { padding-left: 5px; }
#menuBar a:last-child { padding-right: 5px; }

#menuBar a:hover{
    color: #87533a;
    text-decoration: underline;
}