/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2019, 14:40:29
    Author     : Matthieu
*/

h2 {
    color: #5f8c99;
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
}

table {
    text-align: center;
    margin-right: auto;
}

th, td { 
    border-right: 1px solid black;
    border-collapse: collapse;
    padding: none;
} :last-child {border: none;}

td {
    background-color: #828282;
} 

a, td button { 
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    cursor: pointer;
}

td button {
    width: 100%;
    margin: auto;
    background-color: #929292;
}
    
td:hover {
    background-color: #545454;
}

#infoPage {
    display: flex;
    justify-content: space-between;
}

#infos {
    width: 80%;
    /*margin: auto;*/
    padding: 10px;
    padding-left: 50px;
    background-color: #626262;
    font-size: 30px;
    
    text-align: left;
    border-radius: 70px;
    border-top-left-radius: 0;
}

#infos h3 {font-size: 50px; color: #52251b;}