/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2019, 14:40:29
    Author     : Matthieu
*/

h2 {
    color: #5f8c99;
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    
    font-family: 'Lilita One', cursive;

}

table {
    text-align: center;
    margin-right: auto;
    font-family: 'Rokkitt', serif;

}

th, td { 
    border-right: 1px solid black;
    border-collapse: collapse;
    padding: none;
} :last-child {border: none;}

td {
    /*background-color: #828282;*/
} 

a, td button { 
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    cursor: pointer;
}

td button {
    width: 100%;
    margin: auto;
    background-color: #929292;
    
    border-radius: 5px;
}
    
td button:hover {
    background-color: #909090;
    box-shadow: 0px 0px 5px red;
}

#infoPage {
    display: flex;
    justify-content: space-between;
}

#infos {
    /*margin: auto;*/
    padding: 10px;
    padding-top: 0;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 10px;
    background-color: #626262;
    font-size: 30px;
    
    width: 100%;
    
    /*text-align: center;*/
    border-radius: 50px;
}

#dispo {
    color: #52251b;
    font-style: italic;
}

#infos h3 {
    font-size: 50px; 
    color: #52251b;
    text-align: center;
}

form input[type=submit] {
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
}