<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.bmt.project.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
<!--    <servlet>
        <servlet-name>account</servlet-name>
        <jsp-file>/WEB-INF/account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>-->
    
    <servlet>
        <servlet-name>ClientView</servlet-name>
        <jsp-file>/WEB-INF/jsp_parts/client_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientView</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminView</servlet-name>
        <jsp-file>/WEB-INF/jsp_parts/admin_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminView</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.bmt.project.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.bmt.project.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>/WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
